@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --light-blue: #5e87eb;
  --text-color: #333;
  --hover-bg-color: #3e57d0;
  --paragraph-text-color: #404040;
}

body {
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
}

.title-part h6,
.blog-content-box i,
.blog-content-box h6,
.footer-section .social-links i {
  color: var(--light-blue);
}

.title-part h1 {
  color: var(--text-color);
}

.title-part p,
.service-part .service-content-box p,
.home-section .web-solution .web-solution-box p {
  color: var(--paragraph-text-color);
}

/* --------------------------------------------- Header --------------------------------------------- */
.navbar .login-btn,
.home-section .pricing-plan-part .pricing-plan-box .get-started-btn,
.blog-content-box .continue-read-btn {
  background-color: var(--light-blue);
  transition: 0.3s ease-in-out;
}

.navbar .login-btn:hover {
  background-color: var(--hover-bg-color);
}

/* --------------------------------------------- Home --------------------------------------------- */
.home-section .hero-part .title-part h1 span,
.about-section .hero-part .title-part h1 span,
.service-part .service-content-box i,
.home-section .pricing-plan-part .pricing-plan-box .plan-price,
.blog-content-box .author-info .author {
  color: var(--light-blue);
}

.home-section .hero-part .title-part .buttons-group a:first-child {
  box-shadow: 0 7px 25px rgb(123, 104, 238, 0.25);
  color: var(--light-blue);
  transition: 0.4s;
}

.home-section .hero-part .title-part .buttons-group a:last-child {
  background-color: var(--light-blue);
  transition: 0.4s;
}

.home-section .hero-part .title-part .buttons-group a:first-child:hover {
  color: white;
}

.home-section .hero-part .title-part .buttons-group a:hover {
  background-color: var(--hover-bg-color);
}

.service-part .row > div:nth-child(-n + 3) {
  margin-bottom: 1.5rem;
}

.service-part .service-content-box {
  box-shadow: 0px 5px 30px 0px rgb(110, 123, 197, 0.12);
  transition: 0.5s ease-in-out;
}
.service-part .service-content-box:hover {
  background: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
  transform: translateY(-6px);
}

.service-part .service-content-box:hover h1,
.service-part .service-content-box:hover p,
.service-part .service-content-box:hover a {
  color: white;
}
.service-part .service-content-box:hover .img-box {
  background-color: white;
}

.service-part .service-content-box .img-box {
  width: 70px;
  height: 70px;
  background-color: rgb(232, 235, 255, 0.5);
  border-radius: 20px 20px 20px 5px;
}
.service-part .service-content-box a {
  color: var(--hover-bg-color);
}

.web-solution-part {
  background-color: rgb(215, 215, 215, 0.17);
}

.web-solution-part ul li:first-child,
.expert-advice-part ul li:first-child {
  background: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
}

.web-solution-part ul li,
.expert-advice-part ul li {
  border-radius: 0px 0px 10px 0px;
  border-left: 2px solid #5e87eb;
  position: relative;
}

.web-solution-part ul li::before,
.expert-advice-part ul li::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  transition: 0.5s;
  background: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
  border-radius: 0px 0px 10px 0px;
  z-index: -1;
}

.web-solution-part ul li:hover:before,
.expert-advice-part ul li:hover:before {
  width: 100%;
}

.web-solution-part ul li:hover,
.expert-advice-part ul li:hover {
  color: white;
  transition: 0.5s;
}

.counter-part {
  position: relative;
  background-image: url("./assets/home/banner-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}

.counter-part::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
  z-index: -1;
  opacity: 0.7;
}

.team-member-box .team-member-img::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
  border-radius: 0.375rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  z-index: 1;
}

.team-member-box:hover .team-member-img::before {
  opacity: 0.8;
  visibility: visible;
}

.team-member-box .team-member-img img {
  transition: 0.6s;
}

.team-member-box:hover .team-member-img img {
  transform: scale(1.2);
}

.team-member-box .member-social-links li {
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}

.team-member-box:hover .member-social-links li {
  opacity: 1;
  visibility: visible;
  transform: scaleX(1);
}

.client-review-part {
  background-color: rgb(215, 215, 215, 0.17);
}

.client-review-box img {
  width: 6rem !important;
  border: 5px solid #f8f8f8;
}

.home-section .pricing-plan-part .pricing-plan-box {
  box-shadow: -1px 3px 20px 0px rgba(75, 81, 91, 0.1);
}

.home-section .pricing-plan-part .pricing-plan-box .pricing-details-menu li i {
  color: #6f64e7;
}

.home-section
  .pricing-plan-part
  .pricing-plan-box
  .pricing-details-menu
  li.delete-detail {
  color: #b7b7b7;
}

.home-section
  .pricing-plan-part
  .pricing-plan-box
  .pricing-details-menu
  li.delete-detail
  i {
  color: #ff9aa0;
}

.home-section .contact-us-part {
  background-image: url("./assets/home/banner-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.home-section .contact-us-part::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
  opacity: 0.7;
  z-index: -1;
}

.blog-content-box {
  box-shadow: -1px 5px 20px 0px rgb(82 90 101 / 10%);
  border-radius: 0.3rem;
  overflow: hidden;
}

.blog-common-part .row > div:not(:nth-child(-n + 3)) .blog-content-box {
  margin-top: 1.5rem;
}

.blog-content-box {
  box-shadow: -1px 5px 20px 0px rgb(82 90 101 / 10%);
}

.trusted-partner {
  background-color: rgb(215, 215, 215, 0.17);
}

/* --------------------------------------------- Footer --------------------------------------------- */
.footer-section {
  background-image: url("./assets/home/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}

.footer-section::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-135deg, #611bdd 0%, #5e87eb 100%);
  opacity: 0.8;
  z-index: -1;
}

.footer-section .social-links .icon-box {
  transition: 0.4s;
}

.footer-section .social-links .icon-box:hover {
  background-color: var(--light-blue) !important;
}

.footer-section .social-links .icon-box:hover i {
  color: white;
}

.copy-right-area {
  background-color: #0e1326;
}

/* --------------------------------------------- Breadcrumb Part --------------------------------------------- */
.breadcrumb-part {
  background-image: url("./assets/about/page-title-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  z-index: 1;
  position: relative;
}

.breadcrumb-part::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #0d296c;
  z-index: -1;
  opacity: 0.6;
}

.breadcrumb-part .breadcrumb-list li:nth-child(2) {
  position: relative;
  border-radius: 100%;
  background-color: white;
  width: 0.5rem;
  height: 0.5rem;
}

/* --------------------------------------------- Breadcrumb Part --------------------------------------------- */
.about-section .progress-bar-part .progress {
  height: 0.6rem;
}
.about-section .progress-bar-part .progress-bar {
  background-color: var(--light-blue);
  border-radius: 0.375rem;
}
.about-section .progress-bar-part li h1 {
  color: var(--light-blue);
}

/* --------------------------------------------- Media Query --------------------------------------------- */
@media (max-width: 640px) {
  .service-part .row > div:nth-child(4),
  .service-part .row > div:nth-child(5) {
    margin-bottom: 1.5rem;
  }
  .counter-part .row > div:nth-child(-n + 3) .counter-box {
    margin-bottom: 2rem;
  }
  .team-member-box {
    margin-bottom: 1.5rem;
  }
  .blog-common-part .row > div:nth-child(-n + 2) .blog-content-box {
    margin-bottom: 1.5rem;
  }
}
